.loading-container {
  position: fixed;        /* stays on top of everything */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  background: rgba(0, 0, 0, 0.5);   /* black tint */
  
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.loader-gif {
  width: 120px;
  height: auto;
}
