@use 'colors' as *;

.contact-box {
  border-left: 5px solid $primary-green;
  border-radius: 12px;

  .btn-primary {
    background: $primary-green;

    &:hover {
      background: $primary-green-dark;
    }
  }
}
